@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./normalize.scss');
@import url('./transitions.scss');
:root {
  --primary-color-h: #5193b3;
  --primary-color-l: #64c4c3;
  --secondary-color-h: #f8d49a;
  --secondary-color-l: #f8e6cb;
  --background-secondary: #f3f3f3;
  --textcolor-light: #fff;
  --textcolor-dark: #181818;

  @media (prefers-color-scheme: dark) {
    --fk-color-input: #fff;
    select.formkit-input option {
      color: #000 !important;
    }
  }

  @media (prefers-color-scheme: light) {
    --fk-color-input: #000;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: none;
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  @media (prefers-color-scheme: dark) {
    color: #fff;
  }

  @media (prefers-color-scheme: light) {
    color: #000;
  }
}

a.router-link-active,
a.router-link-exact-active {
  font-weight: bold;
  color: var(--primary-color-h);
  border-radius: 0.5rem;

  & .sidebar-item {
    @media (prefers-color-scheme: dark) {
      background-color: rgb(35, 35, 35);
    }
    @media (prefers-color-scheme: light) {
      background-color: rgb(230, 230, 230);
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.brand {
  font-family: 'Lobster', cursive;
  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--secondary-color-l),
    var(--secondary-color-h),
    var(--primary-color-l),
    var(--primary-color-h)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 0px black);
}

.auth-brand {
  font-family: 'Lobster', cursive;
  user-select: none;
  background: linear-gradient(
    to right,
    var(--secondary-color-l),
    var(--secondary-color-h),
    var(--primary-color-l),
    var(--primary-color-h)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (prefers-color-scheme: dark) {
    filter: drop-shadow(1px 0px 0px white);
  }
  @media (prefers-color-scheme: light) {
    filter: drop-shadow(1px 0px 0px black);
  }
  font-size: 4rem;
  text-align: center;
  padding-bottom: 2rem;
}

.pointer {
  cursor: pointer;
}

.doc-image {
  height: 5rem;
  object-fit: contain;
}
